body {
  margin: 0;
  background: url(./components/img/patron.png);

  font-family: ABeeZee;
}

.navbar-brand {
  font-family: "Permanent Marker", cursive;
}

.logo {
  border-radius: 60px;
}

.custom-container {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  border: solid 2px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  width: 80%;
  margin: 0px auto;
}

.cotizaciones {
  list-style: none;
}

.item-cotizacion {
  background-color: aliceblue;
  border-radius: 5px;
}

.enlace {
  justify-self: end !important;
}

.container-menu-app {
  margin-top: -1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.user-picture {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.menu-app {
  list-style: none;
}

.item-menu-app {
  transition: all 0.3s;
}

.item-menu-app:hover {
  background-color: aliceblue;
  border-radius: 5px;
}

.link-item-app {
  text-decoration: none;
  color: #adb5bd;
}

.input {
  width: 300px;
}

.p-password-input {
  width: 300px;
}
.error {
  font-size: 12px;
}

.ant-message .anticon {
  top: -3px !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
